.menubarPlane {
	border: 1px solid #343434;
	background: rgb(26, 26, 26); 
}

.plane {
	border: 1px solid #343434;
	background: rgb(31, 31, 31);
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Rubik';
	font-size: 12px;
}

.group {
	border-radius: 5px;
	border: None;
	background: rgb(24, 24, 24);
	color: #A6A6A6;
	font-family: 'Rubik';
	font-size: 15px;
	margin-top: 2px;
}

.group:disabled {
	background: rgb(29, 29, 29);
	color: rgb(80, 80, 80);
}

.group::title {
	padding: 5px;
    subcontrol-origin: margin;
    subcontrol-position: top left;
}

.stackedWidget {
	border: 1px solid #343434;
	background: rgb(22, 22, 22);
}

.backgroundPlane {
	border: none;
	background: rgba(255, 255, 255, 0.01);
}

.titleText {
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Rubik';
	font-style: italic;
	font-size: 14px;
	font-weight: 400;
	border: none;
	text-shadow: none;
}

.creditsText {
	color: rgba(255, 255, 255, 0.6);
	font-family: 'Rubik';
	font-style: italic;
	font-size: 14px;
	border: none;
	text-shadow: none;
}

.headerText {
	color: #A6A6A6;
	font-family: 'Rubik';
	font-size: 40px;
	font-weight: 700;
	border: none;
	text-shadow: none;
}

.regularText {
    color: rgba(168, 168, 168, 0.582);
	font-family: 'Rubik';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px; /* 112.5% */
}
.regularText:disabled {
    color: rgba(168, 168, 168, 0.582);
}

.smallheaderText {
	color: #A6A6A6;
	font-family: 'Rubik';
	font-size: 30px;
	font-weight: 700;
	border: none;
	text-shadow: none;
}

.iconButton {
	background-color: transparent;
	border: none;
}

.regularButton {
	border-radius: 5px;  
	background: #272727;
	color: #A6A6A6;
	text-align: center;
	font-family: 'Rubik';
	font-size: 14px;
}

.regularButton:hover {
	background: rgb(73, 73, 73);
	color: #A6A6A6;
}

.regularButton:disabled {
	background: #1f1f1f;
	color: rgb(102, 102, 102);
}

.mainButton {
	border-radius: 5px;
	background: #1678c9;
	color: rgb(195, 210, 223);
	text-align: center;
	font-family: Rubik;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.mainButton:hover {
	background: #75b9e6;
	color: rgb(224, 224, 224);
}

.mainButton:disabled {
	background: #234258;
	color: rgba(224, 224, 224, 0.404);
}

.mainButton2 {
	border-radius: 5px;
	background: #8b3eb8;
	color: rgb(195, 210, 223);
	text-align: center;
	font-family: Rubik;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.mainButton2:hover {
	background: #d375e6;
	color: rgb(224, 224, 224);
}

.mainButton2:disabled {
	background: #562358;
	color: rgba(224, 224, 224, 0.404);
}

.comboBox {
	border-radius: 5px;
    background: #252525;
    color: #A6A6A6;
    text-align: center;
	font-family: 'Rubik';
	font-weight: 400;
	font-size: 14px;
    border: none;
	background-color: transparent;
}

.comboBox QAbstractItemView {
	border: None;
	background-color: #1C1C1C;
	color: #A6A6A6;
}

.comboBox ::item {
	padding-bottom: 5px;
}

.textInput {
	border-radius: 5px;
	border: 1px solid #343434;
	background: #151515;
	color: #A4A4A4;
	font-family: Rubik;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px; /* 112.5% */
}

.textInput:disabled {
	border: #34343475;
	background: rgb(31, 31, 31);
	color: rgba(164, 164, 164, 0.473);
}

.checkBox {
    color: #A6A6A6;
    font-family: 'Rubik';
    font-size: 14px;
    border: none;
}

.checkBox:disabled {
    color: rgba(166, 166, 166, 0.37);
}

.checkBox::indicator {
    background-color: rgb(73, 73, 73);
    border-radius: 5px;
}

.checkBox::indicator:checked {
    background-color: #1678c9;
}

.checkBox::indicator:disabled {
    background-color: rgba(166, 166, 166, 0.37);
}


.line {
    background: rgba(166, 166, 166, 0.123);
}

.spinBox {
    border-radius: 5px;
    background-color: #131313;
    color: #A4A4A4;
    font-family: Rubik;
    font-size: 14px;
}

.spinBox:disabled {
    background-color: #202020;
    color: rgba(87, 87, 87, 0.678)
}

.slider {
    background-color: transparent;
    border: none;
}

.slider::groove:horizontal {
    background-color: #4e4e4e;
    height: 3px;
    margin: 0 10px;
    border-radius: 3px;
}

.slider::handle:horizontal {
    background-color: #bfbfbf;
    width: 8px;
    height: 8px;
    margin: -5px -5px;
    border-radius: 4px;
}

.textureIcon {
	border-radius: 5px;
	background:  #4e4e4e;;
	border: 1px solid #343434;
}